global
    log stdout format raw local0
    maxconn 20000
    stats socket /var/run/haproxy.sock mode 660 level admin expose-fd listeners
    stats timeout 30s
    daemon

    # Buffer and TCP Performance Tuning for XHTTP Streams
    tune.bufsize 65536
    tune.maxrewrite 8192
    tune.h2.initial-window-size 2147483647

    # Modern Security Ciphers
    ssl-default-bind-ciphersuites TLS_AES_128_GCM_SHA256:TLS_AES_256_GCM_SHA384:TLS_CHACHA20_POLY1305_SHA256
    ssl-default-bind-options ssl-min-ver TLSv1.2 no-tls-tickets

defaults
    mode http
    log global
    option httplog
    option dontlognull
    option forwardfor
    
    # Smart Multiplexing & Splicing for High-Throughput Tunnels
    option tcp-smart-connect
    option tcp-smart-accept
    no option http-buffer-request
    
    timeout connect 5s
    timeout client 600s
    timeout server 600s
    timeout tunnel 1h

# ---------------------------------------------------------------------
# FRONTEND: HTTP (Port 80)
# ---------------------------------------------------------------------
frontend main_http
    bind :::80 v4v6
    mode http
    http-request redirect scheme https code 301 unless { ssl_fc }

# ---------------------------------------------------------------------
# FRONTEND: HTTPS (Port 443 - Native SSL Aligned)
# ---------------------------------------------------------------------
frontend incoming_https
    bind :::443 v4v6 ssl crt /opt/node/certs/ssl_bundle.pem alpn http/1.1
    mode http
    
    option forwardfor
    http-request set-header X-Forwarded-Proto https
    http-request set-header X-Forwarded-Host %[hdr(host)]
    http-request set-header X-Forwarded-Port 443

    # Healthcheck endpoint
    acl is_health_check path_beg /healthcheck
    http-request return status 200 content-type "text/plain" string "OK_NEW" if is_health_check


    acl is_01_01_01_01 path_beg /01-01-01-01
    use_backend bk_01_01_01_01 if is_01_01_01_01

    acl is_01_01_01_05 path_beg /01-01-01-05
    use_backend bk_01_01_01_05 if is_01_01_01_05

    acl is_01_01_07_05 path_beg /01-01-07-05
    use_backend bk_01_01_07_05 if is_01_01_07_05

    acl is_01_01_03_05 path_beg /01-01-03-05
    use_backend bk_01_01_03_05 if is_01_01_03_05

    # Fallback to local default resolver / doh backend
    default_backend bk_fallback

# ===================================================================
# BACKENDS: STATICS & SUBDOMAINS
# ===================================================================
backend bk_fallback
    mode http
    server bad_request 127.0.0.1:1020


backend bk_01_01_01_01
    mode http
    server srv_01_01_01_01 127.0.0.1:10001

backend bk_01_01_03_05
    mode http
    server srv_01_01_03_05 127.0.0.1:10003

backend bk_01_01_01_05
    mode http
    server srv_01_01_01_05 127.0.0.1:10005


backend bk_01_01_07_05
    mode http
    server srv_01_01_07_05 127.0.0.1:10007


