global
    log stdout format raw local0
    maxconn 2000

defaults
    log global
    mode http
    option httplog
    timeout connect 5s
    timeout client 50s
    timeout server 50s

frontend http-gateway
    bind *:8081
    default_backend app-backend

backend app-backend
    server idn-app app:8000 check

# --- TCP Tools Fronting ---

listen xray-api-1
    bind *:10095
    mode tcp
    server xray-1 xray:10085 check

listen xray-api-2
    bind *:10097
    mode tcp
    server xray-2 xray_2:10087 check

listen xray-dry-run
    bind *:10099
    mode tcp
    server xray-dry xray_dry_run:10089 check

listen mysql-primary
    bind *:3318
    mode tcp
    server mysql-master mysql:3306 check

listen mysql-marzban
    bind *:3319
    mode tcp
    server mysql-marz marzban-mysql:3306 check

listen redis-gateway
    bind *:6391
    mode tcp
    server redis-master redis:6379 check
