global
    log /dev/log    local0 debug
    log /dev/log    local1 notice
    chroot /var/lib/haproxy
    stats socket /run/haproxy/admin.sock mode 660 level admin expose-fd listeners
    stats timeout 30s
    user haproxy
    group haproxy
    daemon
    tune.ssl.default-dh-param 2048
    ca-base /etc/ssl/certs
    crt-base /etc/ssl/private
    ssl-default-bind-ciphers ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384
    ssl-default-bind-ciphersuites TLS_AES_128_GCM_SHA256:TLS_AES_256_GCM_SHA384:TLS_CHACHA20_POLY1305_SHA256
    ssl-default-bind-options ssl-min-ver TLSv1.2 no-tls-tickets

defaults
    log global
    mode    http
    option  dontlognull
    log-format "%ci:%cp [%tr] %ft %b/%s %TR/%Tw/%Tc/%Tr/%Ta %ST %B %CC %CS %tsc %ac/%fc/%bc/%sc/%rc %sq/%bq %hr %hs %{+Q}r"

    timeout connect 5000
    timeout client  50000
    timeout server  50000

frontend main_http
    bind :::80 v4v6
    mode http
    
    # Tunnel Paths (Whitelisted from HTTPS redirect)
    acl is_tunnel path -i -m beg /21-08-07-05 /24-01-07-06 /22-04-07-06 /23-01-07-05 /21-08-07-06 /24-10-07-06
    http-request redirect scheme https if !{ ssl_fc } !is_tunnel

    # Tunnel Routing
    use_backend bk_srv08_xtls if { path_beg /21-08-07-05/xtls }
    use_backend bk_srv01_xtls if { path_beg /24-01-07-06/xtls }
    use_backend bk_srv10_xtls if { path_beg /24-10-07-06/xtls }
    
    use_backend bk_srv08_vless if { path_beg /21-08-07-05 }
    use_backend bk_srv04_vless if { path_beg /22-04-07-06 }
    use_backend bk_srv09_vless if { path_beg /23-01-07-05 }
    use_backend bk_srv01_vless if { path_beg /24-01-07-06 }
    use_backend bk_srv06_vless if { path_beg /21-08-07-06 }
    use_backend bk_srv10_vless if { path_beg /24-10-07-06 }

    default_backend bk_forward_http

frontend main_https
    bind :::443 v4v6 ssl crt /etc/ssl/private/ehraz.pem
    mode http
    option forwardfor
    
    # Standard Proxy Headers
    http-request set-header X-Forwarded-Proto https
    http-request set-header X-Forwarded-Host %[hdr(host)]
    http-request set-header X-Forwarded-Port 443

    # E. Redirects (MUST BE AT THE TOP)
    http-request redirect location /m7/ if { path /m7 }
    http-request redirect location /m/  if { path /m }

    # --- 1. TUNNELS ---
    use_backend bk_srv08_xtls if { path_beg /21-08-07-05/xtls }
    use_backend bk_srv01_xtls if { path_beg /24-01-07-06/xtls }
    use_backend bk_srv10_xtls if { path_beg /24-10-07-06/xtls }
    
    use_backend bk_srv08_vless if { path_beg /21-08-07-05 }
    use_backend bk_srv04_vless if { path_beg /22-04-07-06 }
    use_backend bk_srv09_vless if { path_beg /23-01-07-05 }
    use_backend bk_srv01_vless if { path_beg /24-01-07-06 }
    use_backend bk_srv06_vless if { path_beg /21-08-07-06 }
    use_backend bk_srv10_vless if { path_beg /24-10-07-06 }

    # --- 2. MARZBAN ISOLATION ENGINE ---

    # A. Domain/Host ACLs
    acl host_main hdr(host) -i pg-dash.menudigi.ir
    acl host_pubg hdr(host) -i i-07.new-state.ir

    # B. Path ACLs
    acl path_main path_beg -i /m7/
    acl path_pubg path_beg -i /m/
    
    # C. Referer ACLs (Domain-agnostic fallback)
    acl ref_main hdr_reg(referer) -i /m7/
    acl ref_pubg hdr_reg(referer) -i /m/

    # D. Common Root Paths
    acl is_marzban_root path_beg -i /dashboard /sub /api /statics

    # F. Routing Decisions
    
    # F1. Explicit Path Matching
    use_backend bk_marzban_main if path_main
    use_backend bk_marzban_pubg if path_pubg
    
    # F2. Host-based Routing for Root Paths
    use_backend bk_marzban_main if is_marzban_root host_main
    use_backend bk_marzban_pubg if is_marzban_root host_pubg
    
    # F3. Referer-based Routing for Root Paths
    use_backend bk_marzban_main if is_marzban_root ref_main
    use_backend bk_marzban_pubg if is_marzban_root ref_pubg
    
    # F4. Default Fallback
    use_backend bk_marzban_pubg if is_marzban_root

    default_backend bk_forward

backend bk_marzban_main
    mode http
    http-request replace-path ^/m7/(.*) /\1
    http-response replace-value Location ^/((?!m7/)[^/].*) /m7/\1
    server marzban_main 127.0.0.1:2020

backend bk_marzban_pubg
    mode http
    http-request replace-path ^/m/(.*) /\1
    http-response replace-value Location ^/((?!m/)[^/].*) /m/\1
    server marzban_pubg 127.0.0.1:8002

backend bk_forward
    mode http
    server doh_node 10.255.1.10:443 ssl verify none

backend bk_forward_http
    mode http
    server doh_node_http 10.255.1.10:80

backend bk_srv08_xtls
    mode http
    server xray_srv08_xtls 127.0.0.1:5011

backend bk_srv01_xtls
    mode http
    server xray_srv01_xtls 127.0.0.1:5012

backend bk_srv10_xtls
    mode http
    server xray_srv10_xtls 127.0.0.1:5013

backend bk_srv08_vless
    mode http
    server xray_srv08 127.0.0.1:21075

backend bk_srv04_vless
    mode http
    server xray_srv04 127.0.0.1:22076

backend bk_srv09_vless
    mode http
    server xray_srv09 127.0.0.1:23075

backend bk_srv01_vless
    mode http
    server xray_srv01 127.0.0.1:24076

backend bk_srv06_vless
    mode http
    server xray_srv06 127.0.0.1:21076

backend bk_srv10_vless
    mode http
    server xray_srv10 127.0.0.1:65443

backend local_nginx_http
    mode http
    server nginx_local 127.0.0.1:8080
