global
    log stdout format raw local0
    maxconn 10000
    stats socket /var/run/haproxy.sock mode 660 level admin

    tune.bufsize 65536
    tune.maxrewrite 8192
    tune.h2.initial-window-size 2147483647

    ssl-default-bind-ciphersuites TLS_AES_128_GCM_SHA256:TLS_AES_256_GCM_SHA384:TLS_CHACHA20_POLY1305_SHA256
    ssl-default-bind-options ssl-min-ver TLSv1.2

    # tune.quic.fe.max-idle-timeout 60000

# ===================================================================
# SECTION 1: HTTP DEFAULTS (Websites, Panels, Xray)
# ===================================================================
defaults
    mode http
    log global
    option httplog
    option dontlognull
    option forwardfor
    option tcp-smart-connect
    option tcp-smart-accept
    no option http-buffer-request
    timeout connect 5s
    timeout client 600s
    timeout server 600s
    timeout tunnel 1h

    # errorfile 400 /usr/local/etc/haproxy/errors/400.http
    # errorfile 503 /usr/local/etc/haproxy/errors/503.http

# ---------------------------------------------------------------------
# FRONTEND: MAIN PROXY (HTTP/HTTPS/QUIC)
# ---------------------------------------------------------------------
frontend main_proxy
    bind :::80 v4v6
    bind :::443 v4v6 ssl crt /etc/ssl/certs/haproxy/menudigi_ip.pem crt /etc/ssl/certs/haproxy/ alpn h2,http/1.1

    #bind quic4@:443 ssl crt /etc/ssl/certs/haproxy/ alpn h3
    #bind quic6@:443 ssl crt /etc/ssl/certs/haproxy/ alpn h3

    http-response set-header Alt-Svc "h3=\":443\"; ma=31536000, h3-29=\":443\"; ma=31536000"
    http-request set-header Early-Data 1 if { ssl_fc_has_early }

    http-request set-header X-Forwarded-Proto https if { ssl_fc }
    http-request set-header X-Forwarded-Proto https if !{ ssl_fc } { hdr(CF-Visitor) -m sub https }

    # --- ACLs ---
    acl host_headscale      hdr(host) -i headscale.menudigi.ir
    acl host_phpmyadmin     hdr(host) -i pma.menudigi.ir
    acl host_dash        hdr(host) -i dash.menudigi.ir -i dash.new-state.ir -i dash.doctel.ir -i dash.docsub.ir
    acl host_sub       hdr(host) -i sub.menudigi.ir -i sub.new-state.ir -i sub.doctel.ir -i sub.docsub.ir
    acl host_doh            hdr(host) -i h.menudigi.ir
    acl host_technitium   hdr(host) -i tech.menudigi.ir
    acl host_ai            hdr(host) -i ai.menudigi.ir
    use_backend bk_ai if host_ai
    acl host_ns1 hdr(host) -i ns1.menudigi.ir

    acl host_menudigi   hdr(host) -i menudigi.ir
    use_backend bk_meudigi if host_menudigi

    acl path_doh path_beg /dns-query

    acl path_warp path_beg /warp
    acl path_direct path_beg /direct

    use_backend bk_warp if path_warp
    use_backend bk_direct if path_direct
    use_backend bk_doh if path_doh


    # --- Routing ---
    use_backend bk_doh if host_doh
    use_backend bk_doh if path_doh

    use_backend bk_marzban if host_dash
    use_backend bk_sub_service if host_sub

    use_backend bk_phpmyadmin if host_phpmyadmin
    use_backend bk_technitium if host_technitium

    default_backend bk_fallback

# ---------------------------------------------------------------------
# HTTP BACKENDS
# ---------------------------------------------------------------------
backend bk_direct
    mode http
    no option http-buffer-request


    timeout tunnel 1h

    option splice-auto
    option splice-request
    option splice-response


    option http-keep-alive

    option forwardfor
    http-request set-header X-Forwarded-Port %[dst_port]
    http-request add-header X-Forwarded-Proto https if { ssl_fc }

    server srv_hyper 127.0.0.1:5050 check maxconn 10000 proto h2






backend bk_warp
    mode http
    no option http-buffer-request


    timeout tunnel 1h

    option splice-auto
    option splice-request
    option splice-response


    option http-keep-alive

    option forwardfor
    http-request set-header X-Forwarded-Port %[dst_port]
    http-request add-header X-Forwarded-Proto https if { ssl_fc }

    server srv_hyper 127.0.0.1:4040 check maxconn 10000 proto h2





backend bk_xray_in
    mode http
    no option http-buffer-request


    timeout tunnel 1h

    option splice-auto
    option splice-request
    option splice-response


    option http-keep-alive

    option forwardfor
    http-request set-header X-Forwarded-Port %[dst_port]
    http-request add-header X-Forwarded-Proto https if { ssl_fc }

    server srv_hyper 127.0.0.1:4040 check maxconn 10000 proto h2



backend bk_marzban
    server srv 127.0.0.1:2020



backend bk_headscale
    server srv 127.0.0.1:8081 ssl verify none


backend bk_phpmyadmin
    server srv 127.0.0.1:4050

backend bk_doh
    mode http
    http-request set-header X-Real-IP %[src]
    http-request set-header X-Forwarded-Proto https
    server srv 127.0.0.1:3030

backend host_ns1
    mode http
    http-request set-header X-Real-IP %[src]
    http-request set-header X-Forwarded-Proto https
    server srv 127.0.0.1:2053 ssl verify none

backend bk_fallback
    mode http
    http-request deny deny_status 404


backend bk_technitium
    server srv 127.0.0.1:5380


backend bk_meudigi
    server srv 127.0.0.1:8032

backend bk_ai
    server srv 127.0.0.1:8070




backend bk_sub_service
    no option http-buffer-request
    mode http
    server sub_service_local 127.0.0.1:8085
